---
layout: default
---

<article class="note-layout">
  <div class="back-button-container">
    <a href="/" class="back-button">← Back</a>
  </div>

  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ page.last_modified_at | date_to_xmlschema }}{% endif %}">
      {% if page.type != 'pages' %}
        Published on {% if page.date %}{{ page.date | date: "%B %-d, %Y" }}{% else %}{{ page.last_modified_at | date: "%B %-d, %Y" }}{% endif %}
      {% endif %}
    </time>
  </div>

  <div>
    <content>
      {{ content }}
    </content>
  </div>
</article>
